{% extends "base.html" %}


{% block content %}
<meta charset="UTF-8">
<style>
   .thumb img  {
    border: 2px solid #55c5e9;
    padding: 15px;
    background: #666;
    margin-right: 10px; 
    margin-bottom: 10px;
   }
   .rightpic {
    float: right; 
   }
   .pointer { cursor: pointer; }
	.sign {
	    float: left;
	    padding: 7px;
	    margin: 10px 0 5px 5px; 
	   }
	   .sign figcaption {
	    margin: 0 auto 5px;
	   }

  </style>
<body style="background-color:#FDF4E3">
	<h1 align="center">{{p}} </h1>
	{% for item in items %}
			<figure class="sign">
			   <p><img src="/static/picture/{{item[3]}}" alt={{item}} class=pointer width="200" height="200" onClick='location.href="https://gallery-yandex.herokuapp.com/item/{{p}}/{{item[0]}}"'>
			   <figcaption>{{item[0]}} </figcaption>
			 </figure>
			

		{% endfor %}

	
</body>
{% endblock %}
