{% extends "base.html" %}


{% block content %}
<meta charset="UTF-8">
<style>
	.pointer { cursor: pointer; }
	.thumb img  {
		border: 1px solid #FFCC00;
		background: #FFCC00; 
		margin-top: 10px; 
		margin-bottom: 10px;
		margin-right: 10px; 
		margin-left: 10px; 
	}
	.sign {
		float: middle;
		padding: 5px;
	}
</style>
<body>
	<h1 align="center">{{p}} </h1>
	{% for item in items %}
		<figure class="sign">
			<a class="btn btn" href="/item/{{p}}/{{item[0]}}"><img src="/static/picture/{{item[2]}}">{{item[0]}}</a>
		</figure>
	{% endfor %}
</body>
{% endblock %}
