{% extends "base.html" %}


{% block content %}
<meta charset="UTF-8">
<style>
	.pointer { cursor: pointer; }
	.thumb img  {
		border: 1px solid #FFCC00;
		background: #FFCC00; 
		margin-top: 10px; 
		margin-bottom: 10px;
		margin-right: 10px; 
		margin-left: 10px; 
	}
	.sign {
		float: middle;
		padding: 5px;
	}
</style>
<body>
	{% for category in categories %}
			<figure class="sign">
				<a class="btn" href="/category/{{category[1]}}"><img src="/static/picture/{{category[2]}}" width="200" height="200"><h1>{{category[1]}}</h1></a>
			</figure>
	{% endfor %}	
</body>
{% endblock %}
