{% extends "base.html" %}


{% block content %}
<meta charset="UTF-8">
<style>
	.pointer { cursor: pointer; }
	.thumb img  {
		border: 1px solid #FFCC00;
		background: #FFCC00; 
		margin-top: 10px; 
		margin-bottom: 10px;
		margin-right: 10px; 
		margin-left: 10px; 
	}
	.sign {
		float: middle;
		padding: 5px;
	}
</style>
<body>
	<h1 align="center"> <strong> {{p}} </h1>
	{% for item in items %}
	 	{% if p == item[0] %}
	 		<img src="/static/picture/{{item[2]}}">
			<p>Характеристики: {{item[3]}}</p>
			<p>Цена: {{item[4]}} ք</p>
			{% if item[5] == 0 %}
				<p>Нет в наличии</p>
			{% elif current_user.is_authenticated %}
				<p>В наличии: {{item[5]}}</p>
				<a href="/add/{{category}}/{{p}}" class="btn btn-success">добавить в корзину</a>
			{% else %}
				<p>В наличии: {{item[5]}}</p>
			{% endif %}
		{% endif %}			
	{% endfor %}
</body>
{% endblock %}
