{% extends "base.html" %}


{% block content %}
<meta charset="UTF-8">
<body>
	<h1 align="center"> <strong> {{p}} </h1>
	{% for item in items %}
	 	{% if p == item[0] %}
	 	<p><font size="5"><img src="/static/picture/{{item[2]}}" alt={{item[0]}} class="rightpic"> 
		  {{item[4]}}</font></p> 
		{% endif %}			
		{% endfor %}
		{% if current_user.is_authenticated %}
			<a onClick='location.href="https://127.0.0.1:8080/like/{{category}}/{{p}}"' class="btn btn-primary">добавить в корзину</a>
		{% endif %}
</body>
{% endblock %}
