{% extends "base.html" %}


{% block content %}
<meta charset="UTF-8">
<head>
	<title>Магазин</title>
</head>
<body style="background-color:#FDF4E3">
	<h1 align='center'>Личный кабинет</h1>
	{% for picture in me %}
		{% for item in items %}
			{% if picture[1] == item[0] %}
				{% for category in categories %}
					{% if item[2] == category[0] %}
					<figure class="sign">
					   <p><img src="/static/picture/{{item[3]}}" alt={{item[0]}} class=pointer width="200" height="200" onClick='location.href="https://gallery-yandex.herokuapp.com/item/{{category[1]}}/{{picture[1]}}"'>
					   <figcaption>{{picture[1]}} </figcaption>
					    <a href="/likes_delete/{{ picture[0] }}" class="btn btn-danger">Удалить</a>
					 </figure>
			 {% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% endfor %}
</body>
{% endblock %}
